streamlit
python-dotenv
langchain
langchain-google-genai
langchain-huggingface
langchain-community
faiss-cpu
youtube-transcript-api
pypdf

langchain-classic
langchain-groq

duckduckgo-search
ddgs4
wikipedia 
arxiv 
yfinance
youtube-search-python
requests
beautifulsoup4
