
streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-experimental
langchain-text-splitters

langchain-google-genai
langchain-groq

youtube-transcript-api
faiss-cpu
pypdf

duckduckgo-search
ddgs
wikipedia
arxiv
yfinance
youtube-search-python

beautifulsoup4
requests
pytz
